<div class="callout callout-{{ page.title}}">
<div class="container ">
    <div class="callout-row">
<div class="row">

<div class="callout-text col-lg-8 offset-lg-2 text-center">
<div class="callout-bckg">
{% block content %}
    {{ page.content }}
{% endblock %}
    <div class="buttons">
        <button class="blob-btn">
           {{ page.header.bouton }}
            <span class="blob-btn__inner">
      <span class="blob-btn__blobs">
        <span class="blob-btn__blob"></span>
        <span class="blob-btn__blob"></span>
        <span class="blob-btn__blob"></span>
        <span class="blob-btn__blob"></span>
      </span>
                    </span></button>

    </div></div>
</div>
</div></div></div></div>