<div class="callout callout-{{ page.header.title }}" style="background-image: url({{page.media['bckgrd.jpg'].url}});background-position: {{ page.header.position }};">
<div class="container ">
    <div class="callout-row">
<div class="row">

<div class="callout-text col-lg-8 offset-lg-2 text-center">
<div class="callout-bckg">
{% block content %}
    {{ page.content }}
{% endblock %}
    {% include 'partials/buton.html.twig' %}
</div>
</div>
</div></div></div></div>