

    <div class="contact-container">

            <div class="row">
                <div class="form-contact col-md-4 text-center">
                    {% include "forms/form.html.twig" %}
                </div>

                <div class="text-contact col-md-4 offset-2 text-center">
                  {% block content %}
                        {{ page.content }}
                    {% endblock %}
                </div>

            </div></div>