

    <div class="achievements">
            <div class="row">

                <div class="col-md-6 text-center achievements-text">
                    {% block content %}
                        {{ page.content }}
                    {% endblock %}
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                        <img src="/user/pages/01.home/_achievements/design.png"/>
                        </div>
                        <div class="col-md-6">
                        <img src="/user/pages/01.home/_achievements/formation.png"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                        <img src="/user/pages/01.home/_achievements/marketing.png"/>
                        </div>
                            <div class="col-md-6">
                        <img src="/user/pages/01.home/_achievements/site.png"/>
                            </div>
                    </div>
                </div></div></div>