<div class="accueil-offer">
    <div class="row">
        <div class="col-md-4 text-blog text-center">
            {% block content %}
                {{ page.content }}
            {% endblock %}

            {% include 'partials/buton.html.twig' %}



        </div>


            <div class="col-md-6 offset-md-1 sidebar-content recent-posts">
                <div class="row">


                    <div class="col-md-4">

                        {{page.media['tarif1.jpg']}}
                        <div class="circle-offer">Perso<br>A partir de 500€</div>
                    </div>
                    <div class="col-md-4">

                        {{page.media['tarif2.jpg']}}
                        <div class="circle-offer">Advanced<br>A partir de 800€</div>
                    </div>
                    <div class="col-md-4">

                        {{page.media['tarif3.jpg']}}
                        <div class="circle-offer">Business<br>A partir de 1200€</div>
                    </div>


                </div>


        </div>
    </div></div>