

    <div class="col-xs-12 col-sm-12 portfolio">
            <div class="row">

                <div class="col-xs-12 col-md-6 offset-md-4 text-center portfolio-text">
                    <div class="callout-bckg">

                    {% block content %}
                        {{ page.content }}
                    {% endblock %}
                    <a href="contact">
                    <div class="buttons">
                        <button class="blob-btn">
                            {{ page.header.bouton }}
                            <span class="blob-btn__inner">
      <span class="blob-btn__blobs">
        <span class="blob-btn__blob"></span>
        <span class="blob-btn__blob"></span>
        <span class="blob-btn__blob"></span>
        <span class="blob-btn__blob"></span>
      </span>
                    </span></button>

                                        </div></a></div>
                </div>
            </div></div>