<div class="presentation">
<div class="row">

        {% for image in page.media.images %}

                <div class="col-sm-12 col-md-4">
                    {{ image.cropResize(500,500).html }}
                </div>

        {% endfor %}


</div>
<div class="row">
    <div class="col-sm-12 col-md-4 offset-4">
        {% include 'partials/buton.html.twig' %}</div>
</div></div>