<div class="">
    <div class="row">
        <div class="col-md-4 offset-2 text-center">
            {% block content %}
                {{ page.content }}
            {% endblock %}

            {% include 'partials/buton.html.twig' %}



        </div>
        <div class="col-md-4 offset-2 ">

            {% for image in page.media.images %}


                    {{ image.cropResize(500,500).html }}


            {% endfor %}
            <div class="portfolio-cirlcle"><strong>Notre+</strong><br><br>Un parcours autour de l'utilisateur pour une pérformance optimum</div>


    </div>
    </div></div>