

    <div class="col-xs-12 col-sm-12 together">
            <div class="row">

                <div class="col-xs-12 col-md-6 text-center portfolio-text">


                    {% block content %}
                        {{ page.content }}
                    {% endblock %}

                </div>
            </div></div>