
<div class="text-aside">
{% include 'partials/simplesearch_searchbox.html.twig' %} <br>



    <a href="/search/query:Design" rel="tag">#Design<br></a>
    <a href="/search/query:Developpement" rel="tag">#Développement<br></a>
    <a href="/search/query:Marketing" rel="tag">#Marketing<br></a>
    <br><br>
    <a href="/search/query:Arnaud" rel="tag">#Arnaud<br></a>
    <a href="/search/query:Arnaud-Baunel" rel="tag">#Arnaud-Baunel<br></a>
    <a href="/search/query:Christophe" rel="tag">#Christophe<br></a>
    <a href="/search/query:Tiphaine" rel="tag">#Tiphaine<br></a>

    <div class="col-sm-12 col-md-3 menu-footer-news">
        <h1>NEWSLETTER</h1>
        {% include "forms/form.html.twig" with { form: forms('subscribe') } %}


    </div>


</div>