.callout-Homepage{
   z-index: 0;
  position: relative;
}


.callout {

  background-color: snow;
  border-bottom-left-radius: 700px;
  border-bottom-right-radius: 700px;
  height: 600px;
  position: relative;
  display: block;
  margin-top: -66px;
  margin-bottom: 100px;}
.callout-row{
  position: relative;
  z-index: 2;
}
.callout-text {
  position: relative;
  z-index:3 ;
  color: snow;

  padding-top: 200px; }
.callout-bckg{
  position: relative;

  background-color: rgba(	10,10,10,0.2);
}
@media screen and (max-width: 750px) {
  .callout-text{
    padding-top: 66px;
  }

}
/* Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 1024px et 1280px */
@media all and (min-width: 750px) and (max-width: 1280px) {

  .callout-text {
    padding-top: 100px;
  }
}